<?xml version='1.0'?>
<model>
  <name>new_agv</name>
  <version>1.0</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Marc</name>
    <email>mas1660@knights.ucf.edu</email>
  </author>

  <description>
    Simulation model/robot_description of IGVC 2023 entry.
  </description>
</model>